{% extends 'bootstrap/cdn.html' %}
{% load static %}

{% block head %}

{% endblock %}



{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <!-- <h1 class="display-4">Hello, world!</h1> -->
            <div class="row">
                <div class="col">
                    <h1>Administration</h1>
                </div>
                <div class="col-1">
                    <div class="line mt-2"></div>
                </div>

                <div class="col-6">
                    <form class="form" method="POST">
                        {% csrf_token %}
{#                        <input type="email" class="form-control form-control-lg mt-5" id="" placeholder="Enter email">#}
{#                        <input type="password" class="form-control form-control-lg mt-lg-3" id="" placeholder="Enter password">#}
                        {{ form }}
                        <div class="row">
                            <div class="col-sm-3">
                                <button class="btn mt-lg-3 btn-success">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
      </div>

{% endblock %}


