{% extends 'bootstrap/cdn.html' %}
{% load static %}
{% block head %}
{% endblock %}





{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <div class="see_product rounded-pill">
                        <a class="welcome_btn" type="submit" href="{% url 'product_gallery_link' %}">See Product</a>
                    </div>
                </div>
                <div class="col">
                    <div class="see_product rounded-pill">
                        <a class="welcome_btn" type="submit" href="{% url 'pur_data_link' %}">Purchase Data</a>
                    </div>
                </div>
                <div class="col">
                    <div class="see_product rounded-pill">
                        <a class="welcome_btn" type="submit" href="">Buy Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
